@import "tailwindcss";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1536px;
}

@theme {
  --font-display: "Lobster Two", cursive;
}
@layer utilities {
  .text-snowWhite {
    color: #e9e4eb;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  scroll-behavior: smooth;
  color-scheme: light dark;
  color: #eae5ec;
  background-color: var(--backgroundColor);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  --accentColor: #c2a4ff;
  --backgroundColor: #0b080c;
  --vh: 100vh;
  --vh: 100svh;
}
body {
  margin: 0;
  height: auto;
  background-color: #000;
  flex-grow: 1;
  --cWidth: calc(100% - 30px);
  --cMaxWidth: 1920px;
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: inherit;
}
main {
  opacity: 1;
  transition: 0.3s;
}
.main-active {
  opacity: 0;
  animation: fadeIn 1s 1;
  animation-fill-mode: forwards;
}
.container-main {
  width: 100%;
  margin: auto;
  position: relative;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
